[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/perception_tools/perception_pcl"]
	path = src/perception_tools/perception_pcl
	url = https://github.com/ros-perception/perception_pcl
[submodule "src/temoto"]
	path = src/temoto
	url = https://github.com/temoto-telerobotics/temoto
