<launch>
	<node name="human_to_map_tf" type="static_transform_publisher" pkg="tf" output="screen" args="0 0 1.9 0 0 0"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" value="pointcloud" />
  </include>

  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
    <remap from="cloud_in" to="/camera/depth/color/points"/>
		<remap from="scan" to="pointcloud_to_laserscan/scan"/>
		<rosparam command="load" file="$(find operator_temoto_ws)/config/pointcloud_to_laserscan.yaml"/>
  </node>
  <!-- /camera/depth/color/points -->
</launch>
